@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.animadoTitulo {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color:var(--tarjeta);
}

.animadoTitulo1 {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 12s infinite;

}

.animadoTitulo2{
  width: 50px;
  animation: reveal 12s infinite;

}

.animadoTitulo2>span {
 
  animation: slidein 12s infinite;
 
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-200px; }
    20% { margin-left:-200px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:170px;}
    80% {opacity:1;}
    100% {opacity:0;width:170px;}
}


.panimaciones {
  font-size:12px;
  color:#999;
  margin-top:200px;
}



@media screen and (min-width: 768px) {

  @keyframes slidein {
    0% { margin-left:-400px; }
    20% { margin-left:-400px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:370px;}
  80% {opacity:1;}
  100% {opacity:0;width:370px;}
}


}