:root {
  --darkgray: #474543;
  --gray: #978b7b;
  --orange: #ff9000;
  --cian: #037c03;
  --yellow: #dca305;
  --terracota: rgb(238, 93, 9);
  --white: #fff;
  --green: #5ea862;
  --ligthgray: #b8b5b2;
  --tarjeta: #8cc2c4;
  --modo: #fff;
  --black: rgb(0, 0, 0);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

#modal .containerModal {
  position: fixed;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}


.modal {
  position: fixed;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  animation: animate 0.3s;
  
}   



.headerModal {
    
  display: grid;
  grid-template-columns: 1fr;
  background: var(--modo);
  color: var(--darkgray);
  font-weight: 700;
  border: none;
  padding: 5px;
  margin: 5px;
  width: 90%;


 
}

.modal-content {
  background: var(--ligthgray);
  color: var(--green);
  font-weight: 700;
  border: none;
}

.modal button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: var(--yellow);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.imagenContainer {

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}


.tituloContainer {

  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background: var(--modo);
  color: var(--white);
  font-weight: 700;
  border: none;
  margin: 2%;
}

.resenaContainer {
  background: var(--modo);
  display: grid;
  grid-template-columns: 1fr;
  margin: 2%;
  height: 100%
  
}

.etiqueta {
  color: var(--darkgray);
  font-weight: 700;
  margin: 5px;
}

.etiquetaColor {
  color: var(--white);
  background: var(--tarjeta);
}

.resena {
  background: var(--modo);
  color: var(--black);
  padding: 5px;
  
}

.contactoContainer {
  background: var(--modo);
  color: var(--darkgray);
  font-weight: 700;
  border: none;
  margin: 2%;
}

.footerModal {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  width: 90%;
  background: var(--modo);
  color: var(--darkgray);
  font-weight: 700;
  border: none;
  padding: 5px;
  margin: 5px;

}

.modalTitulo {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  color: var(--black);
  font-weight: bold;
  margin-top: 5px;
}

.botonCerrar {
  display: flex;
  align-items: flex-start;
  justify-content: right;
  color: var(--black);
  font-weight: bold;
  margin-top: 5px;
  visibility: visible;
 
}

.botonCerrarAncho {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--black);
  font-weight: bold;
  margin-top: 5px;
  visibility: hidden;

}
.imagenModal {
  width: 255px;
  height: 255px;
}

.listaRedes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 10px;

}


.modalTarjeta {

  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
 
  background: var(--white);
  cursor: default;
  width: 90%;
  height:90%;
  overflow:auto;
 
 

}

@media screen and (min-width: 820px) {
  
  
  .botonCerrar {
    visibility: hidden;
  }

  .botonCerrarAncho {
    visibility: visible;
  }

  .resenaContainer {
    grid-template-columns: 1fr 0.1fr;
  }


}

@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
