:root {
  --darkgray: #474543;
  --gray: #978b7b;
  --orange: #ff9000;
  --cian: #037c03;
  --yellow: #dca305;
  --terracota: rgb(238, 93, 9);
  --white: #fff;
  --green: #5ea862;
  --ligthgray: #b8b5b2;
  --tarjeta: #8cc2c4;
  --blue: steelblue;
  --white: #fff;
  --black: #000000cc;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  --fondoEmprendedores: #d2e9eecc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-border;
  text-indent: 0;
}

body {
  min-width: 300px;
  line-height: 1.42857143;
  color: #878787;
  min-height: 100vh; /*Importante para el footer alineado abajo*/
  display: flex;
  flex-direction: column;
  align-items: left;
}

.container {
  /*viene de bootstrap*/
  width: auto;
}

.pantallaEmprendedores {
  margin: 0px;
  padding: 0px;
  top: 0px;
  width: 100%;
  background: var(--fondoEmprendedores);
  




}

.barraTareas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--ligthgray);
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.btnBuscarContainer {
  display: flex;
}

.btnNuevoContainer {
  width: auto;
  display: flex;
  position: relative;
  justify-content: flex-end;
  background: var(--ligthgray);
}

.iconoAgregar {
  font-size: 20px;
  padding: 10px;
  color: var(--white);
  display: flex;
  align-items: center;
  border: 3px solid var(--tarjeta);
}

.sinBorde {
  border: none;
}

.emprendedoresContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1%;
  margin-top: 1%;
  gap: 15px;
 
}
.tarjetaEmprendedor {
  background: var(--white);
}

.imagenEmprendedorContainer {
  width: 100%;
  display: flex;
  justify-content: center;

 
}

.imagenEmprendedor {
  cursor: pointer;
  margin-top: 5px;
  object-fit: cover;
  width: 250px;
  height: 250px;
  align-items: center;



}

.marcaEmprendedorContainer {
  cursor: pointer;
}

.marcaEmprendimiento {
  font-size: 20px;
  color: var(--darkgray);
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.rubroEmprendimiento {
  font-size: large;
  color: var(--darkgray);
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
.descripcionEmprendimiento {
  font-size: medium;
  color: var(--black);
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.editarEmprendedorCoontainer {
  display: flex;
  text-align: center;
  justify-content:center;

  
}

.irEmprendedorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var (--black);
  margin-top: 20px;
 

}

.irEmprendedor {
  padding: 10px;
  padding-top: 15px;
  border: 3px solid var(--tarjeta);
  background: var(--tarjeta);
  border-radius: 10px;
  color: var(--white);
  font-weight: bold;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
 
}

.footerEmprendedores {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--darkgray);
  height: 100px;
  bottom: 0px;
}

.lineaFooter {
  padding-top: 10px;
  text-align: center;
}

.input-buscar {
  width: 150px;
  border: 1px solid var(--ligthgray);
  height: 30px;
  margin: 10px;
  flex-direction: row;
  border-radius: 4px;
  padding: 14px 8px 10px;
  border-color: var(--ligthgray);
}

#icono-buscar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  text-align: right;
}

.oculto {
  visibility: hidden;
}



/*-----------------------------------------------------------------*/

.ir-arriba {
  display: none;
  padding: 10px;
  background: var(--darkgray);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
}


.tituloAnimado {
  text-align:center;
  background:var(--white);
  color:var(--tarjeta);
  font-family:'Roboto';
  font-weight:200;
  font-size:15px;
  padding-top:2vh;
  height: 6vh;
  overflow:hidden;
  font-weight: bold;
 
}



@media screen and (min-width: 768px) {
  
  .tituloAnimado {

    font-weight:300;
    font-size:32px;
    visibility:block;
    height: 9vh;

  }
  
  
  
  .emprendedoresContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
 
  }

  .modal-dialog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
    width: 80%;
  }

  .modal-content {
    padding: 20px;
  }
}
