:root {
  
  --darkgray: #474543;
  --gray: #978b7b;
  --orange: #ff9000;
  --cian: #037c03;
  --yellow: #dca305;
  --terracota: rgb(238, 93, 9);
  --white: #fff;
  --green: #5ea862;
  --ligthgray: #b8b5b2;
  --tarjeta: #8cc2c4;
}


.App {
  font-family: sans-serif;
  text-align: center;
}
.App button {
  padding: 13px 29px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background: crimson;
  color: white;
  cursor: pointer;
}
#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
 
  
}

.container .modal {

 
  width: 95%;
  max-width: 800px;
  max-height: 80vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
 
}

.emprendedor-tarjeta-modal {   
  background: var(--gray);
}


.modal-content {
  background: var(--ligthgray);
  color: var(--white);
  font-weight: 700;
  border: none;
}

.modal button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: var(--yellow);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;

}


.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
  width: 80%;
}



@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}