

.pantallaUsuarios {
    margin: 10px;
    padding: 10px;
    top: 20px;
    width: 90%;
    overflow-x: scroll;
}

.grillaUsuarios{

    display: grid;
    grid-template-columns: 250px 180px 150px 70px 70px 70px;
    align-items: left;
    margin-top: 15px;
 


}


.tituloGrillaUser {

    color: var (--darkgray);
    font-weight: bold;
}


.oscuro {
    font-weight: bold;
}


.lineaUser {
   
    color: var(--darkgray);
    

}

.editarEmprendedorContainer {
    align-items: left;
    margin: 0px;
}